@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

:root {
  --link-color: #27a1f0;
}

body {
  background-color: #c0f0f7;
  color: black;
}

#app {
  font-family: 'Comfortaa', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
  margin-top: 40px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One';
}

a {
  color: var(--link-color);
}

/* This is the Darkmode Class to be used in the body when dark mode is turned on */
 * .dark-mode {
  background-color: #050a30;
  color: white;
}


/* Below is the Button Style and Classes for the Dark and Light Modes*/

button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonLight {
  background-color: #008CBA;
  color: white;
  border: 2px solid #050a30;
  }

.buttonLight:hover {
  background-color: #050a30;
  color: white;
}

.buttonDark {
  background-color: #050a30;
  color: white;
  border: 2px solid #008CBA;
}

.buttonDark:hover {
  background-color: #008CBA;
  color: white;
}
